form
{
    padding-left: 20px;
}

.valid
{
    border-color: rgb(6, 42, 222);
    background-color: rgb(162, 248, 219);

}
.invalid
{
    border-color: rgb(0, 0, 0);
    background-color:rgb(241, 123, 123);
}